// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window.BorderTop {
  background: transparent;
  color: white;
  font-weight: bold;

  eventbox {
    all: unset;
    padding-bottom: 10px;
  }

  .border-top-bar, eventbox {
    background-color: #181818;
  }
}
