// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window.BorderTop {
  background: transparent;
  color: $fg-color;
  font-weight: bold;

  eventbox {
    all: unset;
  }

  .h-spacer, .v-spacer {
    background-color: #181818;
  }

  .border-top-bar {
    background-color: #181818;
    margin-bottom: 8px;
  }
}
