[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/anteloalejandro/astronvim-config
[submodule ".homepage"]
	path = .homepage
	url = https://gitlab.com/anteloalejandro/homepage
