@use "sass:color";
@use "../../../.styles/generated/style.scss" as *;

$space-around: $spacing;

window.Bar {
  border: none;
  box-shadow: none;
  color: $fg;
  font-size: 1.1em;
  font-weight: bold;
  font-family: 'Ubuntu Mono';

  & > centerbox {
    margin: $space-around;
    margin-bottom: 0;
  }
  & > centerbox > box {
    min-height: 20px;
    background-color: $bg-dark;
    border-radius: $radius;
    padding: 0.5em 1em;
  }

  .Separator {
    margin: 0 4px;
    color: color.adjust($fg, $alpha: -0.8)
  }

  .Workspaces  {
    button {
      $pill-base-size: 4px;
      all: unset;
      transition: 200ms;
      margin: $pill-base-size;
      padding: calc($pill-base-size - 1pt/2);
      border: 1pt solid $accent;
      background-color: $accent;
      border-radius: 8px;

      &:hover {
        background-color: color.adjust($fg, $alpha: -0.84);
        border-color: color.adjust($accent, $alpha: -0.8);
      }

      &:active {
        background-color: color.adjust($fg, $alpha: -0.8)
      }

      &.focused {
        padding-left: calc($pill-base-size*2 - 1pt);
        padding-right: calc($pill-base-size*2 - 1pt);
      }
      &.empty {
        background-color: transparent;
      }
    }
  }

  .SysTray {
    background-color: $bg;
    border-radius: 4px;
    padding: 2px;
    button {
      background-color: transparent;
      border-radius: inherit;
      padding: 0;
      min-height: 0;
      min-width: 0;
      font-size: 0.9em;

      &:hover {
        background-color: color.change($bg, $whiteness: 40%);
      }
    }
    button + button {
      margin-left: 8px;
    }
    menu {
      background-color: $bg-dark;
      border-radius: $radius;
      font-size: 1rem;
      menuitem:hover {
        background-color: $bg;
        border-radius: $radius;
      }
    }
  }

  .FocusedClient {
    color: $accent;
  }

  .Battery label {
    padding-right: 4px;
  }

  .NotificationAlert {
    button {
      all: unset;
    }
  }
}
