@use 'sass:color';
@use 'vars' as *;

window.BorderTop {
  background-color: $bg;
  padding-left: $spacing;
  padding-right: $spacing;

  .border-top-bar {
    padding-top: $spacing;
  }

  .focused-client {
    font-style: italic;
    border-radius: $radius-inner;
    padding-left: $spacing;
    padding-right: $spacing;
    background-color: $bg-alt;

    image {
      // filter: sepia(100%) hue-rotate(250deg) contrast(150%);
      filter: grayscale(100%);
      -gtk-icon-size: $spacing * 2;
    }
  }

  .reveal-trigger {
    border-radius: $radius;
    background-color: color.adjust($fg, $alpha: -0.6);
  }

  .workspace-indicator {
    $size: 5px;
    $empty: color.adjust($accent, $saturation: -90%);
    all: unset;
    background-color: transparent;
    border: 2px solid $accent;
    min-height: $size;
    min-width: $size;
    border-radius: $size;

    transition: min-width 250ms ease-out;

    &.empty {
      border-color: $empty;
    }
    &.focused {
      background-color: $accent;
      min-width: $size * 2;
    }
    &.focused.empty {
      background-color: $empty;
    }
  }
}
