@use 'sass:color';
@use 'vars' as *;

window.BorderTop {
  background-color: $bg;

  .border-top-bar {
    margin-left: $spacing;
    margin-right: $spacing;
    margin-top: $spacing;
    background-color: $bg;
  }

  .focused-client {
    font-style: italic;
    border-radius: $radius-inner;
    padding-left: $spacing;
    padding-right: $spacing;
    background-color: $bg-alt;

    border: 1px solid $bg-alt;
    transition: border 200ms ease;

    &.fullscreen {
      border-color: $accent;
    }

    image {
      // filter: sepia(100%) hue-rotate(250deg) contrast(150%);
      filter: grayscale(100%);
      -gtk-icon-size: $spacing * 2;
    }
  }

  eventbox .reveal-trigger {
    border-radius: $radius;
    background-color: transparent;
    transition: background-color 500ms ease-in;
  }
  eventbox:hover .reveal-trigger {
    background-color: color.adjust($fg, $alpha: -0.6);
    transition: background-color 50ms ease;
  }

  .workspaces {
    $size: 5px;
    background-color: transparent;
    border-radius: $size;
    min-width: 2 * $size;
    min-height: $size;
    transition: background-color 250ms ease-out;

    .workspace-indicator {
      all: unset;
      min-height: $size;
      min-width: $size;
      border: 2px solid transparent;
      &.focused {
        min-width: $size * 2;
      }
    }
    &.normal .workspace-indicator {
      $empty: color.adjust($accent, $saturation: -90%);
      background-color: transparent;
      border: 2px solid $accent;
      border-radius: $size;

      transition: min-width 250ms ease-out;

      &.empty {
        border-color: $empty;
      }
      &.focused {
        background-color: $accent;
      }
      &.focused.empty {
        background-color: $empty;
      }
    }

    &.special {
      min-width: 2 * $size;
      min-height: $size;
      background-color: $secondary;
    }
  }

  .battery-indicator button {
    all: inherit;
  }
  .battery-indicator.low-battery {
    color: coral;
  }

  .systray {
    background-color: $bg-alt;
    border-radius: $radius;

    .systray-item {
      background-color: transparent;
      border-radius: $radius;
    }

  }

  popover {
    padding: calc($spacing / 2);
    arrow {
      background-color: $bg;
    }
    contents {
      color: $fg;
      background-color: $bg;
      border-radius: $radius;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

      modelbutton {
        border-radius: $radius-inner;
      }
    }
  }

}
