@use 'vars' as *;

window.NotificationPopup {

  .popup-container {
    border-radius: $radius 0px $radius 0px;
    background-color: $bg;
    padding: 1rem;
  }
}

window.NotificationPopup.fullscreen-client {
  .popup-container {
    border-radius: $radius;
  }
  corner {
    opacity: 0;
  }
}
