@use 'vars' as *;


box.Notification {
  background-color: $bg;
  padding: 1rem;
  border-radius: $radius;

  .header {
    font-size: 1.1rem;
    .app-name {
      font-style: italic;
    }
    .app-icon {
      filter: grayscale(100%);
    }
    button {
      padding: 0.2rem;
    }
  }

  .content {

    .image {
      background-size: cover;
      background-position: center;
    }
  }
}
