@use 'vars' as *;

window.Panel {
  .panel-container {
    background-color: $bg;
    border-radius: 0px $radius $radius 0px;
    padding: $spacing;
  }

  .notifications {
    padding: $radius; border-radius: $radius; background-color: $bg-alt;
  }

  .clear-all {
    border-radius: $radius;
  }

  switch {
    background-color: $bg-alt;
    color: $fg;
    border-radius: $radius;
    &.active {
      background-color: $accent;
    }

    slider {
      box-shadow: unset;
      border-radius: $radius;
    }
  }

}

window.Panel.fullscreen-client {
  .panel-container {
    border-radius: $radius;
  }
  
  corner { 
    opacity: 0;
  }
}
