@use 'vars' as *;
@use 'sass:color';

window.PowerMenu {
  background-color: rgba(0, 0, 0, 0.6);

  button {
    font-size: 5rem;
    -gtk-icon-size: 1em;
    margin-left: 1em;
    padding: 1em;
    border-radius: $radius * 5;
    transition: background-color 250ms ease;
    box-shadow: 0px 0px 0.5em black;

    &:hover, &:focus {
      background-color: coral;
    }

    &:nth-child(1) {
      margin-left: 0px;
    }
  }

}
