@use 'vars' as *;
@use 'sass:color';

window.Runner {
  .runner-container {
    background-color: $bg;
    color: $fg;
    padding: $spacing*2;
    border-radius: $radius $radius 0px 0px;

    .item {
      padding: $spacing;
      border-radius: $radius-inner;
      &.selected {
        background-color: $bg-alt;
      }

      .app-name {
        font-size: 1.1em;
      }
      .app-description {
        font-size: 0.9em;
        color: color.adjust($fg, $lightness: -20%);
      }
    }

    .search-box {
      entry {
        all: unset;
        background-color: $bg-hl;
        border-radius: $radius-inner;
        padding: $spacing;
        &:focus-within {
          border: 1px solid $accent;
        }
      }

      .search-modes {
        button {
          font-size: 1.3em;
          background-color: transparent;
          text-align: center;
          color: color.adjust($fg, $lightness: -50%);
          transition: color 250ms ease;

          &:hover {
            color: color.adjust($fg, $lightness: -30%);
          }

          &.selected {
            color: $fg;
          }
        }
      }
    }
  }
}

