@import "definitions";

tooltip {
  border-radius: $radius;
  background: transparentize($color: $bg-black, $amount: 0.3);
  label {
    padding: 0.25rem;
  }
}

.bar-box {
  background-color: $bg-black;
  padding: 0.5rem 2rem;
  border-radius: $radius;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.notification-icon label {
  background: $bg-black;
}

.workspaces button {
  font-size: 60%;
  padding: 0rem;
  label {
    @extend .monospace;
    background-color: $bg-black;
    padding: 0.5rem;
  }
}

.resources {
  progressbar {
    trough {
      background: $dim;
      border-radius: $radius;
      min-width: 3rem;
      $bar-width: 0.4rem;
      min-height: $bar-width;
      progress {
        border-radius: $radius;
        background: $fg-white;
        min-height: $bar-width;
      }
    }
  }
  .ram-box progress {
    background: $success;
  }
  .cpu-box progress {
    background: $primary;
  }
}

.lockscreen-container {
  background-image: url("./lockscreen.png");
  @extend .text-fg;
}

.lockscreen-box {
  font-size: 200%;
  padding: 2rem;
}

.powermenu-container {
  background: rgba(0, 0, 0, 0.5);
}

.powermenu-box {
  button:not(.close-btn) {
    color: $fg-white;
    background: $bg-black;
    padding: 2ex 2em;
    border-radius: $radius;
    font-size: 150%;
    &:hover {
      background: $error;
    }
    label {
      @extend .monospace;
    }
  }

  button.close-btn {
    color: $secondary;
    &:hover {
      color: $fg-white;
    }
  }
}

.alerts-box {
  font-size: 110%;
  padding: 1em;
  border: $border-style $error;
  border-radius: $radius;
  background-color: $bg-black;
  color: $error;
  opacity: 0.8;
}
